body {
    text-align: center;
    background-color: #283149;
  }
  
h1 {
    font-size: 5rem;
    color: #DBEDF3;
    font-family: "Arvo", cursive;
    text-shadow: 3px 0 #DA0463;
  
  }
  
/* background image for Drum*/
.q {
  background-image: url(assets/images/drumImages/tom1.png);
  }
  
.w {
  background-image: url(assets/images/drumImages/tom2.png);
  }
  
.e {
  background-image: url(assets/images/drumImages/tom3.png);
  }
  
.r {
  background-image: url(assets/images/drumImages/tom4.png);
  }
  
.t {
  background-image: url(assets/images/drumImages/snare.png);
  }
  
.y {
  background-image: url(assets/images/drumImages/crash.png);
  }
  
.u {
  background-image: url(assets/images/drumImages/kick.png);
  }


/* background images for Trump */
.a {
  background-image: url(assets/images/trumpImages/trump1.jpg);
}
.s {
  background-image: url(assets/images/trumpImages/trump2.jpeg);
}
.d {
  background-image: url(assets/images/trumpImages/trump3.jpg);
}
.f {
  background-image: url(assets/images/trumpImages/trump4.jpg);
}
.g {
  background-image: url(assets/images/trumpImages/trump5.jpg);
}
.h {
  background-image: url(assets/images/trumpImages/trump6.jpeg);
}
.j {
  background-image: url(assets/images/trumpImages/trump7.jpeg);
}



/* background image for Flute */
.z {
  background-image: url(assets/images/fluteImages/flute1.jpg);
}
.x {
  background-image: url(assets/images/fluteImages/flute2.jpg);
}
.c {
  background-image: url(assets/images/fluteImages/flute3.jpg);
}
.v {
  background-image: url(assets/images/fluteImages/flute4.jpg);
}
.b {
  background-image: url(assets/images/fluteImages/flute5.jpeg);
}
.n {
  background-image: url(assets/images/fluteImages/flute6.jpg);
}
.m {
  background-image: url(assets/images/fluteImages/flute7.jpg);
}
.game-over {
    background-color: red;
    opacity: 0.8;
  }
  
.pressed {
    box-shadow: 0 3px 4px 0 #DBEDF3;
    opacity: 0.5;
  }
  
/* styling for drum set */
.drum {
    outline: none;
    border: 10px solid #404B69;
    font-size: 5rem;
    font-family: 'Arial';
    line-height: 2;
    font-weight: 900;
    color: #eb0f4d;
    text-shadow: 3px 0 #DBEDF3;
    border-radius: 15px;
    display: inline-block;
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 10px;
    background-color: white;
}

/* styling for  trumplet set */
.trump {
  width: 150px;
  height: 150px;
  font-family: 'Arial';
  font-size: 5rem;
  font-weight: 900;
  color: #eb0f4d;
  background-color: white;
  text-shadow: 3px 0 #DBEDF3;
  border: 10px solid #404B69;
  border-radius: 15px;
  margin: 10px;
}

/* styling for flute set */
.flute {
  width: 150px;
  height: 150px;
  font-family: 'Arial';
  font-size: 5rem;
  font-weight: 900;
  color: #eb0f4d;
  background-color: white;
  text-shadow: 3px 0 #DBEDF3;
  border: 10px solid #404B69;
  border-radius: 15px;
  margin: 10px;

}